@import url("reset.css");

:root {
  --primary-text-size: 48px;
  --secondary-text-size: 32px;
  --headline-text-size: 24px;

  --primary-color: cornflowerblue;
  --secondary-color: #4535c1;
  --background-color: #f5f7f8;
}

.header {
  padding: 30px 40px;
  background-color: var(--primary-color);
}
