@import url("reset.css");

:root {
  --primary-text-size: 48px;
  --secondary-text-size: 32px;
  --headline-text-size: 24px;

  --primary-color: cornflowerblue;
  --secondary-color: #4535c1;
  --background-color: #f5f7f8;
}

body {
  font-family: Roboto, sans-serif;
}

.header {
  padding: 30px 40px;
  background-color: var(--primary-color);
}

.title {
  font-size: var(--primary-text-size);
  color: var(--background-color);
}

.paragraph {
  font-size: var(--secondary-text-size);
  color: var(--secondary-color);
}

.paragraph--center {
  text-align: center;
}

.main {
  padding: 96px;
}

.main__form {
  margin-top: 72px;
}

.main__board {
  margin-top: 54px;
}

.form {
  display: grid;
  justify-content: center;
  gap: 36px;
}

.form__container {
  display: flex;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: var(--headline-text-size);
  color: var(--secondary-color);
}

.input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

.input:focus {
  outline: 1.5px solid var(--secondary-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: var(--headline-text-size);
}

.button:hover {
  background-color: var(--secondary-color);
}

.board {
  padding: 0 128px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
}

.board__box {
  border: 1px solid var(--secondary-color);
  height: 18vh;
}
